<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462794839649-d24s44pbqmju2c6fejltchf7c48qv3cd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462794839649-d24s44pbqmju2c6fejltchf7c48qv3cd</string>
	<key>API_KEY</key>
	<string>AIzaSyDGSSrjRkakSY2Q2RpnoIrhZsQvIbWzkdw</string>
	<key>GCM_SENDER_ID</key>
	<string>462794839649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fayosi.lynqit.ai</string>
	<key>PROJECT_ID</key>
	<string>lynq-it</string>
	<key>STORAGE_BUCKET</key>
	<string>lynq-it.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462794839649:ios:d21a1e7dd3d01d04573c20</string>
	<key>DATABASE_URL</key>
	<string>https://lynq-it-default-rtdb.firebaseio.com</string>
</dict>
</plist>